{
  "tagFormat": "v${version}",
  "repositoryUrl": "https://git.sk5.io/skale-5/pre-commits",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}[skip ci]"
    }],
    "@semantic-release/gitlab"
  ],
  "branches": ["main","master"]
}
